{% extends 'layout.html' %}

{% block content %}

<div class="topbar">

    <h1>Security Logs</h1>

    <p>
        Monitor CyberShield activity
        and security events
    </p>

</div>


<div class="table-container">

    <table>

        <thead>

            <tr>

                <th>ID</th>
                <th>Module</th>
                <th>Action</th>
                <th>Target</th>
                <th>Result</th>
                <th>Created</th>

            </tr>

        </thead>

        <tbody>

            {% for log in logs %}

            <tr>

                <td>{{ log[0] }}</td>

                <td>{{ log[1] }}</td>

                <td>{{ log[2] }}</td>

                <td>{{ log[3] }}</td>

                <td>{{ log[4] }}</td>

                <td>{{ log[5] }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}
